.about-jumbotron {
    color: white;
    background-image: url("./img/abouthero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
  }