
$whiteLabel: rgb(245, 245, 245);
$blackLabel: #000;
$brownLabel: #4d361d;
$grayLabel: #353535;
$redLabel: #d9534f;
$greenLabel: rgb(0, 153, 20);
$blueLabel: #00f;
$ochreLabel: #C72;
$navyLabel: #000080;
